body {
  font-family: Gill Sans, sans-serif;
  background-color: rgb(116, 114, 250);
  text-align: center;
}



.Polar {
  float: left;
  width: 400px; /* Set the width to your desired size */
  height: 400px; /* Automatically adjust the height to maintain the aspect ratio */
  margin-left: 30px;
  margin-top: 50px;
}

.Gorilla {
  float: right;
  width: 400px; /* Set the width to your desired size */
  height: 400px; /* Automatically adjust the height to maintain the aspect ratio */
  margin-left: 30;
  margin-bottom: 50;
  
}

