body {
  font-family: Gill Sans, sans-serif;
  background-color: rgb(116, 114, 250);
  text-align: center;
}



.Polar {
  float: left;
  width: 400px;
  height: 400px; 
  margin-top: 50px;
  
}

.Gorilla {
  float: right;
  width: 400px; 
  height: 400px; 
  margin-left: 30;
  margin-bottom: 50;
  
}

.Lion {
    position: absolute;
    bottom: 40px; 
    left: 43%;
    
    
}